@font-face {
    font-family: 'GTWalshLight';
    src: url('../fonts/gtwalsheimlight-webfont.woff2') format('woff2'),
         url('../fonts/gtwalsheimlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GTWalshRegular';
    src: url('../fonts/gtwalsheimregular-webfont.woff2') format('woff2'),
         url('../fonts/gtwalsheimregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'GTWalshMedium';
    src: url('../fonts/gtwalsheimmedium-webfont.woff2') format('woff2'),
         url('../fonts/gtwalsheimmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GTWalshBold';
    src: url('../fonts/gtwalsheimbold-webfont.woff2') format('woff2'),
         url('../fonts/gtwalsheimbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
